@import "src/styles.less";

.light-header-theme() {
  background-color: @light-header-bg;
  color: @light-header-text-color;
  border-bottom: 3px solid @light-header-border-color;
}

.dark-header-theme() {
  background-color: @dark-header-bg;
  color: @dark-header-text-color;
  border-bottom: 3px solid @dark-header-border-color;
}

header {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: @header-font-family;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 5vw;

  &.light-mode {
    .light-header-theme();
  }

  &.dark-mode {
    .dark-header-theme();
  }
}

.header-logo {
  font-weight: bold;
}

.header-title {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  line-height: 0.25;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  padding: 16px;
  border: 2px solid #333;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &:hover {
    &.dark-mode {
      background-color: @dark-header-button-hover-bg;
      color: @dark-header-button-text-color;
    }
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    transition: font-weight 0.2s;
    padding: 10px 15px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active-link {
      color: #007bff;
      font-weight: bold;
      border-bottom: 2px solid #007bff;
    }
  }
}

.header-button {
  font-family: @button-font-family;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &.light-mode {
    background-color: @light-header-button-bg;
    color: @light-header-button-text-color;

    &:hover {
      background-color: @light-header-button-hover-bg;
    }
  }

  &.dark-mode {
    background-color: @dark-header-button-bg;
    color: @dark-header-button-text-color;

    &:hover {
      background-color: @dark-header-button-hover-bg;
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    .material-icons {
      color: #000;
    }
  }

  .material-icons {
    font-size: 32px;
    color: #555;
    transition: color 0.2s ease-in-out;
  }

  &.dark-mode .material-icons {
    color: lightgrey;
    &:hover {
      color: whitesmoke;
    }
  }
}
