<header class="header {{ currentTheme }}">
  <div class="header-logo">
    <h1 (click)="navigateToHome()" class="header-title {{ currentTheme }}">
      fAntonsy Football App
    </h1>
  </div>
  <nav class="header-nav">
    <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
    <a
      [routerLink]="hasTeamData() ? ['/edit'] : null"
      routerLinkActive="active-link"
      [class.disabled-link]="!hasTeamData()"
      [attr.tabindex]="!hasTeamData() ? -1 : null"
      (click)="!hasTeamData() && $event.preventDefault()"
      >Edit Team</a
    >
    <a
      [routerLink]="hasTeamData() ? ['/transfer'] : null"
      routerLinkActive="active-link"
      [class.disabled-link]="!hasTeamData()"
      [attr.tabindex]="!hasTeamData() ? -1 : null"
      (click)="!hasTeamData() && $event.preventDefault()"
      >Transfers</a
    >
  </nav>
  <div class="header-buttons">
    <button
      class="theme-toggle"
      (click)="changeTheme()"
      [ngClass]="themeService.isDarkMode ? 'dark-mode' : ''"
    >
      <span class="material-icons" *ngIf="themeService.isDarkMode"
        >light_mode</span
      >
      <span class="material-icons" *ngIf="!themeService.isDarkMode"
        >dark_mode</span
      >
    </button>
  </div>
</header>
