<div
  id="card-container"
  [ngClass]="{
    'swap-mode': playerToDisplay.toSwap,
    'transfer-mode': playerToDisplay.toTransfer,
    'player-selected': !selectPlayerMode
  }"
  class="card-container"
>
  <div id="player-name" class="name-label">
    <p class="ellipsis">
      {{ selectPlayerMode ? "Select Player" : playerToDisplay.name }}
    </p>
  </div>

  <div id="action-wrapper" class="card-top-icons">
    <div class="captaincy-wrapper">
      <div
        *ngIf="
          playerToDisplay.captaincy !== null && viewMode !== teamViewMode.EDIT
        "
        (click)="changeCaptaincy()"
      >
        {{ displayCaptaincy(playerToDisplay.captaincy) }}
      </div>
      <div
        *ngIf="playerToDisplay.captaincy === null && captaincyChangeMode"
        (click)="changeCaptaincy()"
      >
        *
      </div>
    </div>
    <div class="top-right-icon">
      <ng-container *ngIf="viewMode === teamViewMode.CURRENT">
        <button class="player-info" (click)="openPlayerInfoModal()">i</button>
      </ng-container>
      <ng-container *ngIf="viewMode === teamViewMode.TENTATIVE">
        <button class="player-info" (click)="swapPlayer()">^</button>
      </ng-container>
      <ng-container *ngIf="viewMode === teamViewMode.EDIT"
        ><button
          class="edit-player"
          (click)="transferPlayer()"
          *ngIf="!selectPlayerMode"
        >
          -
        </button>
        <button
          class="edit-player"
          (click)="transferPlayer()"
          *ngIf="selectPlayerMode"
        >
          +
        </button>
      </ng-container>
    </div>
  </div>
  <div id="shirt-wrapper">
    <img
      src="football-shirt.svg"
      alt="football shirt for {{ playerToDisplay.team.name }}"
      height="87"
      width="100"
    />
  </div>
  <div id="card-footer" class="footer">
    <div *ngIf="selectPlayerMode">&nbsp;</div>
    <ng-container *ngIf="!selectPlayerMode">
      <div *ngIf="viewMode === teamViewMode.CURRENT">
        {{ roundPoints }}
      </div>
      <div *ngIf="viewMode === teamViewMode.EDIT">
        {{ playerToDisplay.price || 0 | number : "1.1-1" }}m
      </div>
      <div *ngIf="viewMode === teamViewMode.TENTATIVE">
        {{ nextFixture }}
      </div>
    </ng-container>
  </div>
</div>
