<div id="pitch-wrapper" class="pitch">
  <div id="funds-container" class="funds-box">
    <div id="budget">
      <label class="funds-label">Funds Available:</label>
      {{ budget - totalValue() | number : "1.1-1" }}m
    </div>
    <div id="team-value">
      <label class="funds-label">Current Team Value:</label>
      {{ totalValue() | number : "1.1-1" }}m
    </div>
  </div>
  <div id="pts-display" class="pts-display" *ngIf="currentMode">
    <h1>{{ gameweekPoints }} points</h1>
  </div>
  <div class="save-container" *ngIf="editMode || tentativeMode">
    <button
      id="save-btn"
      [ngClass]="canSave ? '' : 'invalid-save'"
      (click)="saveTeam()"
    >
      Save
    </button>
  </div>
  <div id="goalies-wrapper" class="card-row">
    <div *ngFor="let keep of getActivePlayersByPosition(playerPosition.GKP)">
      <app-player-card
        [player]="keep"
        [viewMode]="viewMode"
        [swapPlayerMode]="swapPlayerMode"
        [isCurrentCaptain]="this.currentCaptain?.id === keep.id"
        (playerChange)="
          editMode
            ? transferPlayerChange($event, keep)
            : swapPlayerChange($event)
        "
        (captaincyChange)="changeCaptaincy($event)"
        [captaincyChangeMode]="toSwapCaptaincy !== null"
      ></app-player-card>
    </div>
  </div>
  <div id="defenders-wrapper" class="card-row">
    <div *ngFor="let def of getActivePlayersByPosition(playerPosition.DEF)">
      <app-player-card
        [player]="def"
        [viewMode]="viewMode"
        [swapPlayerMode]="swapPlayerMode"
        [isCurrentCaptain]="this.currentCaptain?.id === def.id"
        (playerChange)="
          editMode
            ? transferPlayerChange($event, def)
            : swapPlayerChange($event)
        "
        (captaincyChange)="changeCaptaincy($event)"
        [captaincyChangeMode]="toSwapCaptaincy !== null"
      ></app-player-card>
    </div>
  </div>
  <div id="midfielders-wrapper" class="card-row">
    <div *ngFor="let mid of getActivePlayersByPosition(playerPosition.MID)">
      <app-player-card
        [player]="mid"
        [viewMode]="viewMode"
        [swapPlayerMode]="swapPlayerMode"
        [isCurrentCaptain]="this.currentCaptain?.id === mid.id"
        (playerChange)="
          editMode
            ? transferPlayerChange($event, mid)
            : swapPlayerChange($event)
        "
        (captaincyChange)="changeCaptaincy($event)"
        [captaincyChangeMode]="toSwapCaptaincy !== null"
      ></app-player-card>
    </div>
  </div>
  <div id="forwards-wrapper" class="card-row">
    <div *ngFor="let fwd of getActivePlayersByPosition(playerPosition.FWD)">
      <app-player-card
        [player]="fwd"
        [viewMode]="viewMode"
        [swapPlayerMode]="swapPlayerMode"
        [isCurrentCaptain]="this.currentCaptain?.id === fwd.id"
        (playerChange)="
          editMode
            ? transferPlayerChange($event, fwd)
            : swapPlayerChange($event)
        "
        (captaincyChange)="changeCaptaincy($event)"
        [captaincyChangeMode]="toSwapCaptaincy !== null"
      ></app-player-card>
    </div>
  </div>
  <div id="subs-wrapper" class="card-row">
    <div *ngFor="let sub of getSubPlayers">
      <app-player-card
        [player]="sub"
        [viewMode]="viewMode"
        [swapPlayerMode]="swapPlayerMode"
        (playerChange)="
          editMode
            ? transferPlayerChange($event, sub)
            : swapPlayerChange($event)
        "
        (captaincyChange)="changeCaptaincy($event)"
        [captaincyChangeMode]="toSwapCaptaincy !== null"
      ></app-player-card>
    </div>
  </div>
</div>
