.funds-box {
  display: flex;
  justify-content: space-between;
  div {
    font-size: 1.2em;
  }
}

.funds-label {
  font-weight: bold;
}

.card-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}

.pitch {
  background-color: rgb(16, 132, 16);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  width: fit-content;
  margin: auto;
  padding: 2rem;
  border-radius: 0.6rem;
  margin-bottom: 2em;
}

.save-container {
  position: relative;
  bottom: 0;
  margin-top: 0.8em;
  height: 0;
  text-align: end;
  button {
    font-family: var(--button-font-family);
    font-size: 1.4rem;
    line-height: 0.25;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    background-color: var(--header-button-bg);
    color: var(--header-button-text-color);

    &:hover {
      background-color: var(--header-button-hover-bg);
      color: var(--header-button-text-color);
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    &.invalid-save {
      opacity: 0.7;
      background-color: #e0e0e0;
      color: #999;
      border-color: #ccc;
    }
  }
}

.pts-display {
  display: flex;
  justify-content: center;
  line-height: 0;
  font-size: 1.2em;
  border: 1px solid black;
}
