<div id="homepage-wrapper full-page">
  <section id="review-section">
    <ng-container *ngIf="!loading">
      <app-edit-name [currentGW]="currentGW"></app-edit-name>
      <div id="current-team" class="team-container">
        <app-team-template
          [team]="currentTeam"
          [viewMode]="viewMode.CURRENT"
          [budget]="budget"
        ></app-team-template>
      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </ng-container>
  </section>
  <!-- <section id="mini-league-preview"></section>
  <section id="latest-scores-preview">
    <div></div>
  </section>
  <section id="ranks-and-avg-scores-preview"></section> -->
</div>
